.app {
  height: 100%;
  width: 100%;
  border: 10px;
}

.close {
  position: relative;
  left: 100px;
  top: 0;
  padding: 1px 1px 1px 1px;
}

.close:hover {
  background-color:red;
  color: white;
}
